.proj {
  width: 100%;
  color: #686aac;
  text-align: center;
  padding-top: 6rem;
}

.titleProj {
  margin-top: 70px;
  text-align: center;
  color: #65647c;
  font-size: 4rem;
  font-weight: 700;
}

.imgProj {
  margin: 50px;
  width: 50%;
}

.textoProj {
  font-size: 1.2rem;
  padding: 30px;
  margin-top: -20px;
  text-decoration: none;
}

.linkProj {
  color: #fff;
  background-color: #474a51;
  padding: 9px 9px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 5px;
}
